<div id="lv-container" class="container">
  <div style="width: 850px;margin: 0 auto">
    <h3 style="padding-bottom: 0">您当前的时光: <b>{{_number}}</b></h3>
  </div>
  <div class="mature-progress">
    <div class="mature-progress-bottom">
      <!-- 等级样式  v0 v1 v2 v3 v4 v5 -->
      <div class="mature-progress-box v0" id="mamture_progress">
        <dl>
          <dt>0</dt>
          <dd><span class="member-ico v0"></span>贫农</dd>
        </dl>
        <dl>
          <dt>100</dt>
          <dd><span class="member-ico v1"></span>中农</dd>
        </dl>
        <dl>
          <dt>500</dt>
          <dd><span class="member-ico v2"></span>富农</dd>
        </dl>
        <dl>
          <dt>1500</dt>
          <dd><span class="member-ico v3"></span>地主</dd>
        </dl>
        <dl>
          <dt>3000</dt>
          <dd><span class="member-ico v4"></span>土豪</dd>
        </dl>
        <dl>
          <dt>5000</dt>
          <dd><span class="member-ico v4"></span>富豪</dd>
        </dl>
        <div class="progress-box" id="progress_content" data-progress="5700">
          <i class="progress-box-1"></i>
          <!-- 200 -->
          <i class="progress-box-2"></i>
          <!-- 1000 -->
          <i class="progress-box-3"></i>
          <!-- 5000 -->
          <i class="progress-box-4"></i>
          <!-- 10000 -->
          <i class="progress-box-5"></i>
          <!-- 10000+ -->
          <!--<i class="progress-box-6"></i>-->

        </div>
      </div>
      <div class="mature-progress-box bgtwos">
        <dl>
          <dt></dt>
        </dl>
        <dl>
          <dt></dt>
        </dl>
        <dl>
          <dt></dt>
        </dl>
        <dl>
          <dt></dt>
        </dl>
        <dl>
          <dt></dt>
        </dl>
      </div>
    </div>
  </div>

  <table>
    <tr>
      <th colspan="2">等级对照表</th>
    </tr>
    <tr>
      <td>贫农</td>
      <td>0-100</td>
    </tr>
    <tr>
      <td>中农</td>
      <td>100-500</td>
    </tr>
    <tr>
      <td>富农</td>
      <td>500-1500</td>
    </tr>
    <tr>
      <td>地主</td>
      <td>1500-3000</td>
    </tr>
    <tr>
      <td>土豪</td>
      <td>3000-5000</td>
    </tr>
    <tr>
      <td>富豪</td>
      <td>5000-5000+</td>
    </tr>
  </table>
</div>
