<div class="footer">
  <div class="footer-content">
    <p class="nav">
      <a href="#">时光游简介</a>
      <a href="#">合作伙伴</a>
      <a href="#">加入我们</a>
      <a href="#">新手上路</a>
      <a href="#">使用帮助</a>
      <a href="#">会员条款</a>
      <a href="#">版权声明</a>
      <a href="#">免责声明</a>
      <a href="#">联系我们</a>
    </p>
    <p class="footer-detail">2004-2017 © 穷游网® qyer.com All rights reserved. Version v5.57 京ICP备12003524号
      京公网安备11010102001935号 京ICP证140673号 营业执照 经营许可证</p>
  </div>
</div>
