#notes,#photo{
  padding: 20px;
  height: 50px;
  border-bottom: dashed 1px #d4d4d4;
}
#notes h4,h5,#photo h4,h5,#message-board>h4{
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}
#notes span,#photo span{
  display: inline-block;
  height: 30px;
  font-size: 12px;
  line-height: 20px;
  padding-left: 15px;
}
#notes h5,#photo h5{
  font-size: 16px;
}
#notes_container{
  /*height: 300px;*/
  /*background: #999999;*/
  margin-bottom: 25px;
}
#notes_container button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #eeeeee;
  background: #FF9D00;
  border: none;
  border-radius: 8px;
  position: relative;
  left: 50%;
  top: 70%;
  margin-left: -100px;
  margin-top: 35px;
  box-shadow: 3px 3px 10px -1px #ccc;
  outline: none;
}
#notes_container .content{
  background: #f6f6f6;
  padding: 15px 10px 15px 10px;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 8px 8px 10px -7px #ccc ;
}
#notes_container .content:hover h3{
  color: #ff9d00;
}
.content .top{
  overflow: hidden;
}
.content .middle{
  text-indent: 2em;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-size: 14px;
}
.content .bottom{
  overflow: hidden;
  padding-right: 35px;
}
.content .bottom span{
  color: #666;
  margin-right: 8px;
}
#photo_container{
  margin-top: 15px;
}
.photos-content{
  padding-left: 7%;
}
.photo-img>img{
  /*text-align: center;*/
  /*width: 110px;*/
  /*height: 120px;*/
}
.more{
  color: #00B7FF;
}
.more:hover{
  color: #ff9d00;
  cursor: pointer;
}
/*.photo-img{*/
  /*!*height: 150px;*!*/
  /*overflow: hidden;*/
  /*!*background: url("../../../assets/images/XiangGang/XiangGang01.jpg") no-repeat;*!*/
  /*background-position: center;*/
  /*margin: 8px;*/
/*}*/
#message-board{
  overflow: hidden;
  margin-top: 15px;
}
#message-board h4{
  margin-bottom: 15px;
  text-indent: 1em;
}
#message-board .content{
  background: #f6f6f6;
  height: 205px;
  border-radius: 4px 4px 0 0;
}
#message-board .board-icon{
  width: 90px;
  height: 90px;
  /*background: url("../../../assets/images/temporary/small/gg0.png") no-repeat;*/
  /*background-position: center;*/
  background-size: contain;
  border-radius: 50%;
  position: relative;
  top: 50%;
  margin-top: -55px;
  margin-right: 25px;
  margin-left: 25px;
  overflow: hidden;
}
#board-container{
  position: relative;
}
#board-container .board-left{
  position: absolute;
  border: 1px solid #bbb;
  padding: 10px;
  left: 10px;
  top: 50%;
  margin-top: -20px;
  transform:rotate(45deg);
}
#message-board textarea{
  height: 150px;
  padding: 4px 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
}
#board-container .bottom span,button{
  width: 80px;
  margin-top: 8px;
  border: none;
}
#board-container .bottom button{
  background: #FF9D00;
  height: 25px;
  border-radius: 4px;
  color: #eeeeee;
  letter-spacing: 3px;
}
#message-main{
  overflow: hidden;
  position: relative;
}
#message-main ul{
  border-radius: 0 0 4px 4px;
  padding-top: 15px;
  background: #f6f6f6;
}
#message-main ul li{
  margin-bottom: 15px;
  height: 80px;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 5px 5px 10px -3px #ccc ;
}
#message-main li .board-icon{
  width: 50px;
  height: 50px;
  background: url("../../../assets/images/temporary/small/gg0.png") no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 50%;
  margin-top: -27px;
  left: 16px;
}
#message-main .content{
  /*padding: 10px;*/
}
#message-main .content h4{
  color: #FF9D00;
}
#message-main .content p{
  text-indent: 2em;
  padding: 4px 0 4px 0;
}
#message-main span{
  margin-right: 120px;
}
