<div>
  <div id="notes" class="text-center">
    <h4 class="pull-left">我的游记</h4>
    <span class="pull-left"> &gt;&gt;&gt;更多 </span>
    <h5 class="pull-right">0篇游记</h5>
  </div>
  <div id="notes_container">
    <div class="content">
      <div class="top">
        <h3 class="pull-left">游记标题</h3>
        <time class="pull-right">2017-8-8</time>
      </div>
      <div class="middle">
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
      </div>
      <div class="bottom">
        <div class="pull-right">
          <span class="fa fa-thumbs-up fa-lg"></span><span>100+</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-commenting-o fa-lg"></span><span>99+</span>
        </div>
      </div>
    </div>
    <button>写新帖</button>
  </div>
  <div id="photo" class="text-center">
    <h4 class="pull-left">我的照片</h4>
    <span class="pull-left"> &gt;&gt;&gt;更多 </span>
    <h5 class="pull-right">0张照片</h5>
  </div>
  <div id="photo_container">
    <div class="photos-content">
      <div class="col-md-2 col-lg-2 photo-img">
        <!--<img src="../../../assets/user-img/user-icon.png">-->
      </div>
      <div class="col-md-2 col-lg-2 photo-img">
        <!--<img src="../../../assets/user-img/user-icon.png">-->
      </div>
      <div class="col-md-2 col-lg-2 photo-img">
        <!--<img src="../../../assets/user-img/user-icon.png">-->
      </div>
      <div class="col-md-2 col-lg-2 photo-img">
        <!--<img src="../../../assets/user-img/user-icon.png">-->
      </div>
      <div class="col-md-2 col-lg-2 photo-img">
        <!--<img src="../../../assets/user-img/user-icon.png">-->
      </div>
    </div>
  </div>
  <div id="message-board" class="col-md-12 col-lg-12">
    <h4>留言板</h4>
    <div class="content">
      <div class="col-md-4 col-lg-4 board-icon">
        <!--<img src="../../../assets/user-img/user-icon.png" alt="">-->
      </div>
      <div id="board-container" class="col-md-8 col-lg-8">
        <div class="board-left"></div>
        <textarea placeholder="我来过，我想说....." class="col-md-12 col-lg-12"></textarea>
        <div class="bottom col-md-12 col-lg-12">
          <span class="pull-left">0/200 字</span>
          <button class="pull-right text-center">留言</button>
        </div>
      </div>
    </div>
  </div>
  <div id="message-main" class="col-md-12 col-lg-12">
    <ul class="col-md-12 col-lg-12">
      <li>
        <div class="pull-left board-icon"></div>
        <div class="pull-right col-md-11 col-lg-11 content">
          <h4>admin</h4>
          <p>留言内容留言内容留言内容留言内容留言内容</p>
          <time class="pull-left">2017-8-8</time><span class="pull-right">删除</span>
        </div>
      </li>
      <li>
        <div class="pull-left board-icon"></div>
        <div class="pull-right col-md-11 col-lg-11   content">
          <h4>admin</h4>
          <p>留言内容留言内容留言内容留言内容留言内容</p>
          <time class="pull-left">2017-8-8</time><span class="pull-right">删除</span>
        </div>
      </li>
    </ul>
  </div>
</div>
