<div >
  <div id="notes" class="text-center">
    <h4 class="pull-left">我的游记</h4>
    <span class="pull-left"> &gt;&gt;&gt;更多 </span>
    <h5 class="pull-right">0篇游记</h5>
  </div>
  <div id="notes_content">
    <div class="content">
      <div class="top">
        <h3 class="pull-left">游记标题</h3>
        <time class="pull-right">2017-8-8</time>
      </div>
      <div class="middle">
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容
      </div>
      <div class="bottom">
        <div class="pull-right">
          <span class="fa fa-thumbs-up fa-lg"></span><span>100+</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-commenting-o fa-lg"></span><span>99+</span>
        </div>
      </div>
    </div>
    <button>写新帖</button>
  </div>
</div>
