/*轮播图两边*/

.carousel-control{
 background-color: rgba(255, 255, 255, 0);
}
/*.input-group{*/
/*}*/

/*.img{*/
  /*background:url("../../assets/images/background/lunbo03.jpg")no-repeat;*/
  /*background-size: cover;*/
/*}*/

.form-control{
/*.carousel-control{*/
/*background-color:white;*/
/*}*/
/*.input-group{*/
}
.form-control {

  position: relative;
}

.btn-group .key {
  position: relative;
  top: -20px;

}

.top{
  height: 475px;
  width: 100%;
}

.input-group .form-control, .input-group-btn .btn {
  border: 1px solid #FFA800;
  outline: none;
}

.input-group-btn .btn {
  color: #FFA800;
  background: white;
}

.input-group-btn .btn:hover {
  color: rgba(255, 168, 0, 0.04);
  background: #FFA800;
}

.container-left {
  float: left;
  width: 160px;
  border: solid 1px blue;
}

.title {
  font-size: 20px;
  margin-top:12px;
  margin-bottom: 6px;

}

/*.content{*/
/*float: right;*/
/*}*/
.media {
  padding-bottom: 20px;
  margin-top: 20px;
  /*box-sizing: border-box;*/

}

.media:hover {
  background: #F8F8F8;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

}

h3 {
  border-top: 1px solid #E5E5E5;
}

.media:hover h3 {
  color: #FFA800;
  cursor: pointer;
  border-top: 1px solid #F8F8F8;
}

.state {
  float: right;
  padding: 0 15px;
  line-height: 30px;
  border: 1px solid #ff9d00;
  border-radius: 15px;
  font-size: 14px;
  background-color: #fff;
  color: #666;
}

.num {
  display: inline-block;
  color: #FF9D00;
  padding-right: 5px;
}

.icon-hand {
  color: #FF9D00;
  padding-left: 10px;

}

.media-heading {
  padding: 8px 0;
}

.media-body {
  height: 102px;
  padding-top: 10px;
  margin-bottom: 16px;
  color: #666;
  letter-spacing: 1px;
  text-indent: 2em;
  line-height: 1.5em;
  font-size: 16px;
}

.item {
  float: right;
  line-height: 22px;
  font-size: 12px;
}

.author {
  display: inline-block;
  margin-right: 40px;
  color: #ff9d00;

}

.view {
  float: right;
  color: #999;
  line-height: 22px;

}
#main{
  margin: 15px auto;
}
.load {
  /*width: 1137px;*/
  height: 40px;
  background: #FFF5E5;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 168, 0);
  margin-top: 20px;

  /*font-size: 12px;*/
}

.load:hover {
  cursor: pointer;
  background: rgba(255, 166, 0, 0.43);
  color: rgb(255, 255, 255);
}

.load-item {
  line-height: 40px;

}
.other{
  margin-top: 10px;
}
.content {
  padding: 10px 0;
  color: #666;
}

.content a {
  padding-right: 30px;
  /*padding-top: 15px;*/
}
/*右侧栏固定滚动*/
.about_fix{
  position: fixed;
  left: 50%;
  margin-left: 293px;
  max-width: 293px;
  top: 0;
}

.yuedu{
  position: relative;
  top: 30px;
  background: #ffffff;
  /*left: 20px;*/
  /*width: 330px;*/
  height: 380px;
  overflow: hidden;
  border: 1px solid #ececec;
  /*border:solid 1px #ECECEC;*/
  border-radius: 5px;
}
.head{
  /*padding: 10px 20px;*/
  background-color: #f9f9f9;
  padding:20px;
  font-size: 20px;
  line-height: 20px;
  color: #ff9d00;
}
.wrap{
  float: left;
  padding:15px 10px;
}
.wrap:hover {
  background: #f8f8f8;
  color: #ff9d00;
  /*cursor: pointer;*/
}
.about-item{
  display: block;
}
.about-item img{
  float: left;
}
.canwrap{
  position: relative;
  height: 80px;
  float: left;
  padding-left: 10px;
  /*width: 200px;*/
  line-height: 20px;
}
.canwrap .subtitle{
  width: 150px;
}
.canwrap .num{
  font-size: 14px;
  color: #9d9d9d;
  padding: 8px 5px;
}
/*分页==============*/
/*.pagination li a{*/
/*border: solid 1px #d1d1d1;*/
/*color: #ff9d00;*/

/*}*/
/*.pagination li a:hover{*/
/*color: white;*/
/*background:#FFD891;*/
/*border: solid 1px #FFD891;*/
/*}*/

/*返回顶部*/
#to_top {
  position: fixed;
  left: 50%;
  margin-left: 600px;
  bottom: 130px;
  width: 30px;
  height: 64px;
  background: url("../../assets/images/goTop.png") no-repeat;
  background-position: 0;
  cursor: pointer;
  display:none;
}
#to_top:hover {
  background-position: -28px 0;
}



/*==============================*/

