
<!--①轮播图-->
<!--②搜索框-->
<!--<ul class="dropdown-menu">-->
<!--<p>热门城市</p>-->
<!--<p>-->
<!--<span><a href="#">西藏</a></span>-->
<!--<span><a href="#">黑龙江</a></span>-->
<!--<span><a href="#">重庆</a></span>-->
<!--</p>-->

<div class="top">
  <app-loop-img></app-loop-img>
  <app-search></app-search>
</div>
<!--<div class="container content">
  <div class="row col-lg-6">
    <div class="input-group" role="group">
      <input type="text" class="form-control btn btn-default" data-toggle="tooltip" placeholder="请输入想去的地方..."
             data-placement="bottom"
             title="热门城市">
      &lt;!&ndash;<button type="button" class="btn btn-default" data-toggle="tooltip"&ndash;&gt;
      &lt;!&ndash;data-placement="top" title="Tooltip on top">Tooltip on top</button>&ndash;&gt;
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜 索</button>
      </span>
    </div>
  </div>


</div>-->


<!--<aside>旅游游记导航</aside>-->
<div id="main" class="container">
  <div class="row">

  <!--右侧-->
  <div class="col-md-9 col-lg-9">
    <div class="row title col-lg-12">推荐游记</div>
    <div class="media col-md-12">
      <h3 class="media-heading">
        西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
        <div class="state">
          <span class="num">266</span>时光顶
          <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
        </div>
      </h3>

      <div class="media-left media-middle">
        <a routerLink="../noteschild">
          <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
               alt="...">
        </a>
      </div>

      <div class="media-body">
        在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
        在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
        而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
        很多创意市集上的东西比起实体店来的更有趣吧。
      </div>
      <div class="item">
        <span class="author">作者：天涯海角</span>
        <span class="view">浏览：203，评论：53</span>
      </div>
    </div>
    <!--复制=====================-->
    <div class="media col-md-12">
      <h3 class="media-heading">
        西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
        <div class="state">
          <span class="num">266</span>时光顶
          <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
        </div>
      </h3>

      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
               alt="...">
        </a>
      </div>

      <div class="media-body">
        在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
        在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
        而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
        很多创意市集上的东西比起实体店来的更有趣吧。
      </div>
      <div class="item">
        <span class="author">作者：天涯海角</span>
        <span class="view">浏览：203，评论：53</span>
      </div>
    </div>
    <div class="media col-md-12">
      <h3 class="media-heading">
        西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
        <div class="state">
          <span class="num">266</span>时光顶
          <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
        </div>
      </h3>

      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
               alt="...">
        </a>
      </div>

      <div class="media-body">
        在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
        在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
        而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
        很多创意市集上的东西比起实体店来的更有趣吧。
      </div>
      <div class="item">
        <span class="author">作者：天涯海角</span>
        <span class="view">浏览：203，评论：53</span>
      </div>
    </div>
    <div class="media col-md-12">
      <h3 class="media-heading">
        西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
        <div class="state">
          <span class="num">266</span>时光顶
          <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
        </div>
      </h3>

      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
               alt="...">
        </a>
      </div>

      <div class="media-body">
        在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
        在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
        而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
        很多创意市集上的东西比起实体店来的更有趣吧。
      </div>
      <div class="item">
        <span class="author">作者：天涯海角</span>
        <span class="view">浏览：203，评论：53</span>
      </div>
    </div>
    <div class="media col-md-12">
      <h3 class="media-heading">
        西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
        <div class="state">
          <span class="num">266</span>时光顶
          <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
        </div>
      </h3>

      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
               alt="...">
        </a>
      </div>

      <div class="media-body">
        在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
        在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
        而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
        很多创意市集上的东西比起实体店来的更有趣吧。
      </div>
      <div class="item">
        <span class="author">作者：天涯海角</span>
        <span class="view">浏览：203，评论：53</span>
      </div>
    </div>
    <!--复制=====================-->
    <div class="more">
      <div class="media col-md-12">
        <h3 class="media-heading">
          西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
          <div class="state">
            <span class="num">266</span>时光顶
            <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
          </div>
        </h3>

        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
                 alt="...">
          </a>
        </div>

        <div class="media-body">
          在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
          在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
          而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
          很多创意市集上的东西比起实体店来的更有趣吧。
        </div>
        <div class="item">
          <span class="author">作者：天涯海角</span>
          <span class="view">浏览：203，评论：53</span>
        </div>
      </div>
      <div class="media col-md-12">
        <h3 class="media-heading">
          西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
          <div class="state">
            <span class="num">266</span>时光顶
            <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
          </div>
        </h3>

        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
                 alt="...">
          </a>
        </div>

        <div class="media-body">
          在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
          在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
          而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
          很多创意市集上的东西比起实体店来的更有趣吧。
        </div>
        <div class="item">
          <span class="author">作者：天涯海角</span>
          <span class="view">浏览：203，评论：53</span>
        </div>
      </div>
      <div class="media col-md-12">
        <h3 class="media-heading">
          西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
          <div class="state">
            <span class="num">266</span>时光顶
            <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
          </div>
        </h3>

        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
                 alt="...">
          </a>
        </div>

        <div class="media-body">
          在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
          在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
          而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
          很多创意市集上的东西比起实体店来的更有趣吧。
        </div>
        <div class="item">
          <span class="author">作者：天涯海角</span>
          <span class="view">浏览：203，评论：53</span>
        </div>
      </div>
      <div class="media col-md-12">
        <h3 class="media-heading">
          西藏行摄之旅，带你寻找藏在封闭隐世里的极美仙境
          <div class="state">
            <span class="num">266</span>时光顶
            <span class="fa fa-thumbs-up fa-lg icon-hand"></span>
          </div>
        </h3>

        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object" src="../../assets/images/XiZang/XZ_XiZangZhiYi.jpeg" height="160" width="240"
                 alt="...">
          </a>
        </div>

        <div class="media-body">
          在旅行成为一种行色匆匆的消遣方式时，我更喜欢从中发掘慢一点的游玩模式，比如，逛当地的市集。
          在国外，市集是未被商业包装的地方，是不加任何掩饰和夸张，可以最直接迅速接近当地人生活的地方。
          而国内则相反，一些周末独有的创意市集和主题市集是为了丰富平时较为单一的商业街区，甚至可以说
          很多创意市集上的东西比起实体店来的更有趣吧。
        </div>
        <div class="item">
          <span class="author">作者：天涯海角</span>
          <span class="view">浏览：203，评论：53</span>
        </div>
      </div>
    </div>

    <div class="col-md-12">

      <div class="load">
        <span class="load-item">加载更多</span>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </div>
    </div>

    <!--分页==========================-->
    <!--<div class="page">-->
    <!--<nav aria-label="Page navigation" >-->
    <!--<ul class="pagination">-->
    <!--<li>-->
    <!--<a href="#" aria-label="Previous">-->
    <!--<span aria-hidden="true">&laquo;</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li><a href="#">1</a></li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">5</a></li>-->
    <!--<li>-->
    <!--<a href="#" aria-label="Next">-->
    <!--<span aria-hidden="true">&raquo;</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</div>-->
  </div>

<!--相关阅读-->
  <div class="col-md-3 col-lg-3 about">
    <div class="yuedu">
    <div class=" title col-lg-12">相关阅读</div>
      <div class="about-main">
        <a href="#">
          <ul class="wrap">
            <li class="about-item">
              <img src="../../assets/images/background/bg06.jpg" height="80" width="80"/>
              <div class="canwrap">
                <p class="subtitle">【自由爱自驾】打包一份原味香港，剪影一段往日时光。</p>
                <p class="fa fa-street-view num"> 2564</p>
              </div>
            </li>
          </ul>
        </a>
      </div>

      <div class="about-main">
        <a href="#">
          <ul class="wrap">
            <li class="about-item">
              <img src="../../assets/images/background/bg04.jpg" height="80" width="80"/>

              <div class="canwrap">
                <p class="subtitle">【台湾亲子游】台北+清境农场+夜宿海生馆</p>

                <p class="fa fa-street-view num"> 2564</p>
              </div>
            </li>

          </ul>
        </a>
      </div>

      <div class="about-main">
        <a href="#">
          <ul class="wrap">
            <li class="about-item">
              <img src="../../assets/images/background/bg01.jpg" height="80" width="80"/>

              <div class="canwrap">
                <p class="subtitle">【在你的全世界路过】拼的是力气和运气</p>

                <p class="fa fa-street-view num"> 2564</p>
              </div>
            </li>
          </ul>
        </a>
      </div>
    </div>
  </div>
    <!--导航-->
    <!--<nav class="row text-right">-->
      <!--<ion-content>-->
        <!--Add your content here!-->
      <!--</ion-content>-->

    <!--</nav>-->

  </div>


<div class="container other">
  <h4 class="media-heading">
    热门地区游记
  </h4>
  <div class="content">
    <a href="">苏州旅游游记</a>
    <a href="">北京旅游游记</a>
    <a href="">婺源旅游游记</a>
    <a href="">南京旅游线路</a>
    <a href="">拉萨旅游线路</a>
    <a href="">青岛旅游线路</a>
    <a href="">扬州旅游线路</a>
    <a href="">桂林旅游线路</a>
  </div>
</div>
<div class="container other">
  <h4 class="media-heading">
    主题旅游游记
  </h4>
  <div class="content">
    <a href="">美食旅游线路</a>
    <a href="">人文旅游线路</a>
    <a href="">购物旅游线路</a>
    <a href="">自驾旅游线路</a>
    <a href="">沙滩海岛旅游线路</a>
    <a href="">自然风光旅游线路</a>
    <a href="">蜜月旅游线路</a>
    <a href="">亲子旅游线路</a>

  </div>
</div>
<div id="to_top" ></div>

<!--<script>-->
  <!--$(function () {-->
    <!--$("[data-toggle='tooltip']").tooltip();-->
  <!--});-->
<!--</script>-->
