<p>
  travels works!
</p>
<!--①轮播图-->
<!--<div class="row">-->
  <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--<ol class="carousel-indicators">-->
      <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
      <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
      <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    <!--</ol>-->

   <!--<div class="container">-->
     <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
     <!--<div class="carousel-inner" role="listbox">-->
       <!--<div class="item active">-->
         <!--<img src="../../assets/images/background/bg09.jpg" alt="..." height="366" width="712">-->
         <!--&lt;!&ndash;<img src="../../assets/images/background/bg09.jpg" height="666" width="1012"/>&ndash;&gt;-->
         <!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
         <!--&lt;!&ndash;...&ndash;&gt;-->
         <!--&lt;!&ndash;</div>&ndash;&gt;-->
       <!--</div>-->
       <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
         <!--&lt;!&ndash;&lt;!&ndash;<img src="..." alt="...">&ndash;&gt;&ndash;&gt;-->
         <!--&lt;!&ndash;<img src="../../assets/images/background/bg10.jpg" height="366" width="712"/>&ndash;&gt;-->
         <!--&lt;!&ndash;&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;&ndash;&gt;-->
         <!--&lt;!&ndash;&lt;!&ndash;...&ndash;&gt;&ndash;&gt;-->
         <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
       <!--&lt;!&ndash;</div>&ndash;&gt;-->
       <!--<div class="item">-->
         <!--<img src="../../assets/images/background/bg08.jpg" height="366" width="712"/>-->
         <!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
         <!--&lt;!&ndash;...&ndash;&gt;-->
         <!--&lt;!&ndash;</div>&ndash;&gt;-->
       <!--</div>-->

     <!--</div>-->
   <!--</div>-->

    <!--&lt;!&ndash; Controls &ndash;&gt;-->
    <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
      <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
      <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
      <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
      <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<div>
  123456
</div>
<!--②搜索框-->

<div class="container">
  <div class="row col-lg-6">
    <div class="input-group" role="group">
      <input type="text" class="form-control" placeholder="请输入想去的地方...">

      <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜 索</button>
      </span>
    </div>
  </div>
</div>

  <!--<ul class="dropdown-menu">-->
    <!--<p>热门城市</p>-->
    <!--<p>-->
      <!--<span><a href="#">西藏</a></span>-->
      <!--<span><a href="#">黑龙江</a></span>-->
      <!--<span><a href="#">重庆</a></span>-->
    <!--</p>-->
  <!--</ul>-->




