
<div id="photo_container" class="img-box full">
  <h3>我的照片</h3>
  <section class=" img-section">
    <div class="z_photo upimg-div clear" >
      <section class="z_file fl">
        <img src="../../../assets/user-img/a11.png" class="add-img">
        <input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
      </section>
    </div>
  </section>
</div>
<aside class="mask works-mask">
  <div class="mask-content">
    <p class="del-p">您确定要删除作品图片吗？</p>
    <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
  </div>
</aside>

