<!--①轮播图-->


<div class="top">
  <app-loop-img></app-loop-img>
  <app-search></app-search>

</div>

<div id="main" class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let strategy of strategys | searchStrategy:searText| paginate: { itemsPerPage: 6, currentPage: p }" (click)="strategyItem(strategy?.id)">
      <div class="thumbnail">
        <a>
          <img src="{{qnUrl}}{{strategy?.coverImg}}"
             alt="{{strategy?.title}}" style="width: 350px;height: 233px" class="cover-img " (mouseover)="add($event)" (mouseout)="remove($event)">
        </a>
        <div class="caption">
          <!--<h3>梯田.星辰.大海</h3>-->
          <h3>{{strategy?.title | themeString:12}}</h3>
          <!--<p>10天9晚休闲溜娃！</p>-->
          <p>{{strategy?.info | themeString: 20}}</p>
          <!--<p>-->
            <!--<a href="#" class="btn btn-primary" role="button">-->
              <!--按钮-->
            <!--</a>-->
            <!--<a href="#" class="btn btn-default" role="button">-->
              <!--按钮-->
            <!--</a>-->
          <!--</p>-->
        </div>
      </div>
    </div>
<!--    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/images/background/bg05.jpg"
             alt="通用的占位符缩略图">
        <div class="caption">
          <h3>翻山越岭，闯入遗世孤寂。</h3>
          <p>风从我的耳边流过带来整个世界的声音，</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/images/background/bg01.jpg"
             alt="通用的占位符缩略图">
        <div class="caption">
          <h3>我们的剪影</h3>
          <p>黄色城墙围起，有我们的灿烂童年。</p>

        </div>
      </div>
    </div>-->
  </div>
  <div style="margin: 0 0 0 650px; width: 340px;">
    <pagination-controls style="width: 400px" (pageChange)="p = $event"></pagination-controls>
  </div>
<!--  <div class="row">
&lt;!&ndash;    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a routerLink="../strategychild">
          <img src="../../assets/images/background/bg12.jpg"
               alt="通用的占位符缩略图"></a>
        <div class="caption">
          <h3>这抹白，内心平静。</h3>
          <p>用尽了力气，认识了你们</p>
          &lt;!&ndash;<p>&ndash;&gt;
          &lt;!&ndash;<a href="#" class="btn btn-primary" role="button">&ndash;&gt;
          &lt;!&ndash;按钮&ndash;&gt;
          &lt;!&ndash;</a>&ndash;&gt;
          &lt;!&ndash;<a href="#" class="btn btn-default" role="button">&ndash;&gt;
          &lt;!&ndash;按钮&ndash;&gt;
          &lt;!&ndash;</a>&ndash;&gt;
          &lt;!&ndash;</p>&ndash;&gt;
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/images/background/bg13.jpg"
             alt="通用的占位符缩略图">
        <div class="caption">
          <h3>访你，于有光的盛夏</h3>
          <p>风中，有人弹唱，有人舞蹈，有人相爱。</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/images/background/bg14.jpg"
             alt="通用的占位符缩略图">
        <div class="caption">
          <h3>紫阳花开，清风驻留的街道</h3>
          <p>我把思念挂在海角，若干年后，我回去取。</p>

        </div>
      </div>
    </div>&ndash;&gt;
  </div>-->
</div>
