<div id="container" class="col-md-12 col-lg-12">
  <div class="title">
    <h5>我的游记</h5>
    <button class="pull-right">+ 游记</button>
  </div>
  <div class="content">
    <div class="col-md-5 col-lg-5 notes-left">
      <div class="row">
        <img src="../../../assets/user-img/user-icon.png" alt="">
      </div>
    </div>
    <div class="col-md-7 col-lg-7 notes-right">
      <div class="top">
        <h4>游记标题</h4><time class="pull-right">2017-8-8</time>
      </div>
      <div class="middle">
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
      </div>
      <div class="bottom">
        <div class="pull-right">
          <span class="fa fa-thumbs-up fa-lg"></span><span>100+</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-commenting-o fa-lg"></span><span>99+</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="col-md-5 col-lg-5 notes-left">
      <div class="row">
        <img src="../../../assets/user-img/user-icon.png" alt="">
      </div>
    </div>
    <div class="col-md-7 col-lg-7 notes-right">
      <div class="top">
        <h4>游记标题</h4><time class="pull-right">2017-8-8</time>
      </div>
      <div class="middle">
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
      </div>
      <div class="bottom">
        <div class="pull-right">
          <span class="fa fa-thumbs-up fa-lg"></span><span>100+</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-commenting-o fa-lg"></span><span>99+</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="col-md-5 col-lg-5 notes-left">
      <div class="row">
        <img src="../../../assets/user-img/user-icon.png" alt="">
      </div>
    </div>
    <div class="col-md-7 col-lg-7 notes-right">
      <div class="top">
        <h4>游记标题</h4><time class="pull-right">2017-8-8</time>
      </div>
      <div class="middle">
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
        游记内容游记内容游记内容游记内容游记内容游记内容游记内容游记内容
      </div>
      <div class="bottom">
        <div class="pull-right">
          <span class="fa fa-thumbs-up fa-lg"></span><span>100+</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-commenting-o fa-lg"></span><span>99+</span>
        </div>
      </div>
    </div>
  </div>
</div>
