<div id="container" class="col-md-12 col-lg-12">
  <div class="title">
    <h5>我的游记
      <button class="pull-right">+ 游记</button>
    </h5>
  </div>
  <div class="content" *ngFor="let notes of newNotes">
    <div class="col-md-5 col-lg-5 notes-left">
      <div class="row"> <!--[innerHTML]="_img.exec(notes.content)"-->
        <img src="../../../assets/images/XiZang/2.NaMuCuo/{{notes?.coverimg}}" alt="">

        <!--<img src="../../../assets/images/XiZang/2.NaMuCuo/NMC01.jpeg" alt="">-->
      </div>
    </div>
    <div class="col-md-7 col-lg-7 notes-right">
      <div class="top">
        <h4>{{notes?.title}}</h4>
        <time class="pull-right">{{notes?.pubtime.split('T')[0]}}</time>
      </div>
      <div class="middle" [innerHTML]="(notes?.content).substring(0,175)+'...'">

      </div>
      <div class="bottom">
        <div class="pull-right">
          <span class="fa fa-thumbs-up fa-lg"></span><span>100+</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-commenting-o fa-lg"></span><span>99+</span>
        </div>
      </div>
    </div>
  </div>
  <!--分页-->
  <nav class="text-center" aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a (click)="Older()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a >1</a></li>
      <li><a >2</a></li>
      <li><a >3</a></li>
      <li><a >4</a></li>
      <li><a >5</a></li>
      <li>
        <a (click)="Newer()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</div>

