<!--①轮播图-->
<app-loop-img></app-loop-img>

<div class="container main">
  <div class="list">
    <div class="head">
      <h4>行程单</h4>
    </div>
    <table>
      <tr class="tr1">
        <td  class="t1">
          <span class="day">D1</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            添好运点心专卖店(奥海城店) - 港澳义顺牛奶公司(油麻地店) - 维多利亚港 - 幻彩咏香江灯光表演 - 池记(尖沙咀店)-利强记北角鸡蛋仔(弥敦道店)
          </p>
        </td>

      </tr>
      <tr class="tr1">
        <td  class="t1">
          <span class="day">D2</span>
        </td>
        <td class="t2">
          <p class="name">主流的季节-非主流的国家</p>
        <p class="detail">
          添好运点心专卖店(奥海城店) - 港澳义顺牛奶公司(油麻地店) - 维多利亚港 - 幻彩咏香江灯光表演 - 池记(尖沙咀店)-利强记北角鸡蛋仔(弥敦道店)
        </p>
      </tr>
      <tr class="tr1">
        <td  class="t1">
          <span class="day">D3</span>
        </td>
        <td class="t2">
          <p class="name">塞尔维亚-黑山</p>
          <p class="detail">
            添好运点心专卖店(奥海城店) - 港澳义顺牛奶公司(油麻地店) - 维多利亚港 - 幻彩咏香江灯光表演 - 池记(尖沙咀店)-利强记北角鸡蛋仔(弥敦道店)
          </p>
      </tr>
      <tr class="tr1">
        <td  class="t1">
          <span class="day">D4</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            添好运点心专卖店(奥海城店) - 港澳义顺牛奶公司(油麻地店) - 维多利亚港 - 幻彩咏香江灯光表演 - 池记(尖沙咀店)-利强记北角鸡蛋仔(弥敦道店)
          </p>
      </tr>
    </table>
<div class="all">
  展开全部几天行程
  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
</div>

<div class="all">
  收起
  <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
</div>


  </div>


  <div class="about">
    <div class="head">相关阅读</div>

    <div class="about-main">
      <a href="#">
      <ul class="wrap">
        <li class="about-item">
          <img src="../../assets/images/background/bg06.jpg" height="80" width="80"/>
          <div class="canwrap">
            <p class="title">【自由爱自驾】打包一份原味香港，剪影一段往日时光。</p>
            <p class="fa fa-street-view num"> 2564</p>
          </div>
        </li>
      </ul>
      </a>
    </div>

    <div class="about-main">
      <a href="#">
      <ul class="wrap">
        <li class="about-item">
          <img src="../../assets/images/background/bg04.jpg" height="80" width="80"/>

          <div class="canwrap">
            <p class="title">【台湾亲子游】台北+清境农场+夜宿海生馆</p>

            <p class="fa fa-street-view num"> 2564</p>
          </div>
        </li>

      </ul>
      </a>
    </div>

    <div class="about-main">
      <a href="#">
      <ul class="wrap">
        <li class="about-item">
          <img src="../../assets/images/background/bg01.jpg" height="80" width="80"/>

          <div class="canwrap">
            <p class="title">【在你的全世界路过】拼的是力气和运气</p>

            <p class="fa fa-street-view num"> 2564</p>
          </div>
        </li>
      </ul>
      </a>
    </div>

  </div>

</div>
<!--内容-->
<div class="container">
  <div class="content col-md-8">
  中国人对粥是有情结的。
  早起一碗文火白粥下肚，几碟清淡小菜，整个人都精神了；
  即使是在重口味的夜宵大排档，一碗内料丰富的清粥，也能很好的平衡一桌的油腻，暖胃更暖心。

  这家粥店在香港的分店很多，我们酒店百米内就有一家，早上10点钟入店依然要排队，算是吃了一个中式brunch。
  点了艇皇粥和油条，粥还不错，有海味的鲜美，配料丰盛，米煮得很烂，两个人分一大碗刚刚好，吃得整个人都舒服。不过油条就很一般了，非常硬，咬不动，11港币一根的价格实在有点不美丽，我们这边路边早餐摊的油条都要强很多~~~

  毕竟是主打粥品的店，比较推荐作为早餐。
  </div>
</div>
