<!--①轮播图-->
<app-loop-img></app-loop-img>


<div class="container main">
  <div class="top">
    <div class="head">
      <h4>行程单</h4>
    </div>


    <div class="tbdiv">
    <table class="tb">
      <tr class="tr1">
        <td class="t1">
          <span class="day">D1</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            添好运点心专卖店(奥海城店) - 港澳义顺牛奶公司(油麻地店) - 维多利亚港 - 幻彩咏香江灯光表演 - 池记(尖沙咀店)-利强记北角鸡蛋仔(弥敦道店)
          </p>
        </td>

      </tr>
      <tr class="tr1">
        <td class="t1">
          <span class="day">D2</span>
        </td>
        <td class="t2">
          <p class="name">主流的季节-非主流的国家</p>
          <p class="detail">

            海皇粥店(油麻地分店)-香港大学-中环至半山自动扶梯-泰昌饼家-荷李活道-兰芳园茶餐厅(中环新店)-南丫岛-建興亞婆豆腐花-南丫风采发电站-正斗粥面专家(中环店)
          </p>
      </tr>
      <tr class="tr1">
        <td class="t1">
          <span class="day">D3</span>
        </td>
        <td class="t2">
          <p class="name">塞尔维亚-黑山</p>
          <p class="detail">
            香港仔鱼蛋王（宝灵街）-渡海小轮-金紫荆广场-皇后大道东-金凤茶餐厅-香港有轨电车-太平山-山顶缆车-香港杜莎夫人蜡像馆-太平洋咖啡-凌霄阁-兴记菜馆
          </p>
      </tr>
      <tr class="tr1">
        <td class="t1">
          <span class="day">D4</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            海港城 - 翠华餐厅(加拿芬道店) - 珍妮家手工曲奇(尖沙咀店) - 富豪雪糕流动车
          </p>
      </tr>
      <tr class="tr1">
        <td class="t1">
          <span class="day">D5</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            海港城 - 翠华餐厅(加拿芬道店) - 珍妮家手工曲奇(尖沙咀店) - 富豪雪糕流动车
          </p>
      </tr>
      <tr class="tr1">
        <td class="t1">
          <span class="day">D6</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            海港城 - 翠华餐厅(加拿芬道店) - 珍妮家手工曲奇(尖沙咀店) - 富豪雪糕流动车
          </p>
      </tr>
      <tr class="tr1">
        <td class="t1">
          <span class="day">D7</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            海港城 - 翠华餐厅(加拿芬道店) - 珍妮家手工曲奇(尖沙咀店) - 富豪雪糕流动车
          </p>
      </tr>
      <tr class="tr1">
        <td class="t1">
          <span class="day">D8</span>
        </td>
        <td class="t2">
          <p class="name">香港-贝尔格莱德</p>
          <p class="detail">
            海港城 - 翠华餐厅(加拿芬道店) - 珍妮家手工曲奇(尖沙咀店) - 富豪雪糕流动车
          </p>
      </tr>
    </table>
    </div>


    <div class="all1">
      展开全部几天行程
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>

    <div class="all2">
      收起
      <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    </div>

  </div>

  <!--右侧栏-->
  <div class="about">
    <div class="head">相关阅读</div>

    <div class="about-main">
      <a href="#">
        <ul class="wrap">
          <li class="about-item">
            <img src="../../assets/images/background/bg06.jpg" height="80" width="80"/>
            <div class="canwrap">
              <p class="title">【自由爱自驾】打包一份原味香港，剪影一段往日时光。</p>
              <p class="fa fa-street-view num"> 2564</p>
            </div>
          </li>
        </ul>
      </a>
    </div>
    <div class="about-main">
      <a href="#">
        <ul class="wrap">
          <li class="about-item">
            <img src="../../assets/images/background/bg04.jpg" height="80" width="80"/>

            <div class="canwrap">
              <p class="title">【台湾亲子游】台北+清境农场+夜宿海生馆</p>

              <p class="fa fa-street-view num"> 2564</p>
            </div>
          </li>

        </ul>
      </a>
    </div>
    <div class="about-main">
      <a href="#">
        <ul class="wrap">
          <li class="about-item">
            <img src="../../assets/images/background/bg01.jpg" height="80" width="80"/>

            <div class="canwrap">
              <p class="title">【在你的全世界路过】拼的是力气和运气</p>

              <p class="fa fa-street-view num"> 2564</p>
            </div>
          </li>
        </ul>
      </a>
    </div>
  </div>

</div>
<!--内容-->
<div class="container" style="background-color: white; z-index: 100000;">
  <div class="content col-md-8">
    <h3>吃喝玩乐一概览。</h3>
    <hr>
    <h1>暖暖一碗粥，一天好活力。</h1>
    <img src="../../assets/images/HongKong/HK01.jpg" height="519" width="680"/>
    <p>中国人对粥是有情结的。</p>
    <p>早起一碗文火白粥下肚，几碟清淡小菜，整个人都精神了；</p>
    即使是在重口味的夜宵大排档，一碗内料丰富的清粥，也能很好的平衡一桌的油腻，暖胃更暖心。<br>
    这家粥店在香港的分店很多，早上10点钟入店依然要排队，算是吃了一个中式。<br>
    艇皇粥有海味的鲜美，配料丰盛，米煮得很烂，两个人分一大碗刚刚好，吃得整个人都舒服。<br>
    <p>毕竟是主打粥品的店，比较推荐作为早餐。</p>
    <p>*海皇粥店（油麻地店）<br>
      地址： 油麻地弥敦道497A号地下<br>
      营业时间：6：30—次日凌晨1：00<br>
      推荐：艇皇粥<br>
      人均：30元<br>
      推荐指数：★★★<br>
      PS：只收现金。</p>

    <img src="../../assets/images/HongKong/HK02.jpg" height="519" width="680"/>
    <h1>入夜后的香港，化成电影中熟悉的模样。</h1>

    <p>在油麻地的街头，和老香港撞了个满怀。</p>
    <p>随意跳上一辆叮叮车，目的地不明。</p>
    <p>走累了，钻进街边的茶餐厅，一杯奶茶就能融化所有烦心。</p>
    <p>她是孩子们的游乐场，是购物狂的剁手天堂，<br>
      是吃货们的最佳觅食地，是摄影爱好者胶卷中的光影琉璃……</p>
    <h1>*迷失南丫岛，赶在日落前看一眼大风车。</h1>

    除了港岛、九龙和新界，香港还有众多离岛，这里鲜有旅行团的打扰，和那些名声在外的打卡景点<br>
    相比，仿佛一座座静谧的世外桃源，散落在蔚蓝之海。<br>
    这次，我们选择了其中的一座，抽小半天的时间，远离城市的喧嚣嘈杂，去南丫岛放个空。<br>

    虽然“离岛”两个字听起来有种偏远避世之感，但其实前往南丫岛的交通非常便利。<br>
    从中环4号码头坐30分钟船，你就可以暂时和水泥森林say goodbye，投入一篇绿意盎然之中。<br>
    <p>没有一个城市，像香港这样矛盾又纠结。<br>
      她既有光鲜亮丽的外衣，又在街头巷尾留着一丝破旧和腐坏的气息；<br>
      她的繁华令人着迷，却又用与生俱来的骄傲和高冷，让你难以亲近；<br>
      她用另一种语言、另一种体制包裹着自己，在你真正亲临这片土地之前，<br>
      一切都只是想象，而已。</p>
    <p></p>


    <img src="../../assets/images/HongKong/HK03.jpg" height="519" width="680"/>
    <h1>香港，就是这样一座神奇的城市啊!</h1>
    <p>我们的城市，正生长得越来越相似。<br>
      一样的高楼林立，一样的车水马龙，一样的修旧如新，<br>
      只有香港，每一帧画面、每一声叹息，都是她自己。<br>
      拥挤的地下铁，步履匆匆的上班族，硕大的霓虹灯招牌……<br>
      在万千城市的剪影之中，你总能一眼就认出她，即使你们不曾有过交集。</p>
    <p>你明知她有那么多别扭和挑剔的坏习惯和小毛病，<br>
      却还是偏偏在那么多的旅行list中，写下了她的名。</p>

    <img src="../../assets/images/HongKong/HK07.jpg" height="341" width="680"/>
    <h1>*池记：一碗云吞面的慰藉。</h1>
    <p>招牌的鲜虾云吞确实赞，拿上来很迷你的一份，四只云吞，一小碗细面，40元其实并不便宜，但<br>
      面够劲道，云吞饱满，汤里全是虾的鲜味，吃得人心满意足。<br>
      我们还点了一份五宝河粉，有虾云吞、水饺、冬菇、鲮鱼圆子等五种配料，搭配河粉，和云吞面<br>
      一比超级大一份，实在超值，两个人也吃不完，味道比较清淡~~~<br>

      池记不愧是香港云吞面界的扛把子！<br>
      *池记（尖沙咀店）<br>
      地址： 尖沙咀乐道52号地下<br>
      营业时间：10：30—23：00<br>
      个人推荐：鲜虾云吞面<br>
      人均：70元<br>
      推荐指数： ★★★★<br>
      PS：可用100元人民币代替120元港币支付，用港币找零。</p>

    <img src="../../assets/images/HongKong/HK04.jpg" height="519" width="680"/>
    <h1>幸福的味道!</h1>
    <p>*利强记北角鸡蛋仔（弥顿道店）<br>
      地址： 尖沙咀弥敦道178号地下（尖沙咀警察署对面）<br>
      营业时间：11：00—次日凌晨2：00<br>
      个人推荐：鸡蛋仔<br>
      人均：20元<br>
      推荐指数：★★★★<br>
      PS：不可使用500、1000元面值的港币支付，记得备好零钱。</p>

    <img src="../../assets/images/HongKong/HK05.jpg" height="519" width="680"/>
    <h1>香港，就是这样一座神奇的城市啊!</h1>
    <p>我们的城市，正生长得越来越相似。<br>
      一样的高楼林立，一样的车水马龙，一样的修旧如新，<br>
      只有香港，每一帧画面、每一声叹息，都是她自己。<br>
      拥挤的地下铁，步履匆匆的上班族，硕大的霓虹灯招牌……<br>
      在万千城市的剪影之中，你总能一眼就认出她，即使你们不曾有过交集。</p>
    <p>你明知她有那么多别扭和挑剔的坏习惯和小毛病，<br>
      却还是偏偏在那么多的旅行list中，写下了她的名。</p>
  </div>

  <!--<div class="siderbar">-->
  <!--<div class="elevator">-->
  <!--<h3 class="tel">电梯</h3>-->
  <!--<div class="noborder">-->
  <!--<div class="list">-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">0每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">1.每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">2每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">3每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">4每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">00每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">5每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">6每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">7每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">8每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">9每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->

  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">10每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">11每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--<ul class="eleitem">-->
  <!--<i class="eline"></i>-->
  <!--<b class="eleline"></b>-->
  <!--<li class="submit">-->
  <!--<a href="#" class="subtle">12每一帧画面，都是她自己。</a>-->
  <!--</li>-->
  <!--</ul>-->


  <!--</div>-->
  <!--&lt;!&ndash;<p>我们的城市，正生长得越来越相似。<br>&ndash;&gt;-->
  <!--&lt;!&ndash;一样的高楼林立，一样的车水马龙，一样的修旧如新，<br>&ndash;&gt;-->
  <!--&lt;!&ndash;只有香港，每一帧画面、每一声叹息，都是她自己。<br>&ndash;&gt;-->
  <!--&lt;!&ndash;拥挤的地下铁，步履匆匆的上班族，硕大的霓虹灯招牌……<br>&ndash;&gt;-->
  <!--&lt;!&ndash;在万千城市的剪影之中，你总能一眼就认出她，即使你们不曾有过交集。</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>你明知她有那么多别扭和挑剔的坏习惯和小毛病，<br>&ndash;&gt;-->
  <!--&lt;!&ndash;却还是偏偏在那么多的旅行list中，写下了她的名。</p>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>
<!--返回顶部-->
<div id="to_top"></div>
