<div class="mianBox">
  <img src="../../assets/images/yun0.png" alt="" class="yun yun0"/>
  <img src="../../assets/images/yun1.png" alt="" class="yun yun1"/>
  <img src=".../../assets/images/yun2.png" alt="" class="yun yun2"/>
  <img src="../../assets/images/bird.png" alt="" class="bird"/>
  <img src="../../assets/images/san.png" alt="" class="san"/>
  <div class="tipInfo">
    <div class="in">
      <div class="textThis">
        <h2>页面丢失啦！</h2>
        <p><span>等待<b id="wait">6</b>秒后</span><span>页面自动<a id="href" href="">跳转</a>到首页</span></p>
      </div>
    </div>
  </div>
</div>
