<!--<div class="container log">-->
<div class="main">
  <div class="login-bgimg"></div>

  <div id="login_form" class="container">
    <div class="login-position">
      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  login-css">
        <form class="form-horizontal" #loginForm="ngForm">
          <div class="form-group">
            <div class="alert prompt">
              <small *ngIf="!istelempty">
                账号不能为空
              </small>
              {{login_res}}
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
              <input type="text" autofocus tabindex="1" (keyup.enter)="ontel(tel.value)"
                     (blur)="ontel(tel.value)" class="form-control" #tel="ngModel" pattern="^1[34578]\d{9}$"
                     [(ngModel)]="_telephone"
                     id="telephone" name="telephone" placeholder="您的手机号" required>
            </div>
          </div>
          <div class="form-group">
            <div class="alert prompt">
              <small *ngIf="!ispassempty">
                密码不能为空
              </small>
              <small *ngIf="!ispassformat">
                密码不能小于6个字符
              </small>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
              <input type="password" tabindex="2" (keyup.enter)="onpass(pass.value,loginForm)"
                     (blur)="onpass(pass.value)" class="form-control" #pass="ngModel" minlength="6"
                     [(ngModel)]="_password"
                     id="password" name="password" placeholder="您的密码" required>
            </div>
          </div>
          <div class="form-group">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button type="button" (click)="toLogin(loginForm)" (keyup.enter)="onlogin(login.value)"
                      class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12" id="login_btn">登录
              </button>
            </div>
          </div>
        </form>
        <div>
          <span><a routerLink="../index">返回首页</a></span>
          <p class=" p1 ">还没有账号？<a routerLink="../register">马上注册</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
