
.main{
  min-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
/*背景图片*/

.login-bgimg{
  height: 900px;
  background:url(../../assets/images/background/login-img.jpg) no-repeat center center;
}

/*登录框位置*/
.container{
  padding:151px 15px;
  width: 400px;

}
.login-position{


}
/*登录框样式*/
.login-css{
  padding: 30px 30px;
  background-color: white;
  border-radius: 5px;
}

.prompt{
  padding: 0;
  margin-left: 20px;
  margin-bottom: 0;
  color: red;
  box-shadow: none;

}
/*按钮*/
#login_btn{
  font-size: 18px;
  color: white;
  background-color: #FFA800;
}

.p1{
  padding-top: 10px;
  float: right;
}

