<div class="container">
  <div id="container" class="row">
    <div id="user_nav" class="col-md-3 col-lg-3">
      <div id="user_icon" class="text-center">
        <div class="row">
          <img src="../../../assets/user-img/user-icon.png" height="100" width="100"/>
        </div>
        <div class="row">
          <h4 class="col-md-6 col-lg-6 text-right">0 关注</h4>
          <h4 class="col-md-6 col-lg-6 text-left">0 粉丝</h4>
        </div>
      </div>
      <nav class="row text-left">
        <ul>
          <li><span class="fa fa-home fa-lg" aria-hidden="true"> </span><a routerLink="./index">个人首页</a></li>
          <li><span class="fa fa-heart fa-lg" aria-hidden="true"> </span><a routerLink="./WantToGo">我的想去</a></li>
          <li><span class="fa fa-paw fa-lg" aria-hidden="true"> </span><a routerLink="./footprint">我的足迹</a></li>
          <li><span class="fa fa-book fa-lg" aria-hidden="true"> </span><a routerLink="./Notes">游记</a></li>
          <li><span class="fa fa-camera-retro fa-lg" aria-hidden="true"> </span><a routerLink="./PhotoAlbum">照片</a></li>
          <li><span class="fa fa-cog fa-lg" aria-hidden="true"> </span><a routerLink="./Setting">设置</a></li>
        </ul>
      </nav>
    </div>
    <div id="main" class="col-md-9 col-lg-9">
      <router-outlet ></router-outlet>
    </div>
  </div>
</div>
