<img src="../../assets/images/XiZang/2.NaMuCuo/NMC01.jpeg"
     height="450" width="100%" class="bg"/>
<div class="container container-top">
  <img src="../../assets/images/background/bg07.jpg" class="head img-circle"/>
  <div class="title">{{notes?.title}}<!--回忆走过的七彩云南--></div>
</div>


<div class="author ">
  天涯海角（杭州）
  <span class="level">LV.16</span>
  <span class="time">2017-06-20  12：30</span>
</div>
<div class="container-fluid icon ">
  <div class="icon-share">
    <ul>
      <li class="fa fa-share fa-2x" aria-hidden="true"></li>
      <li>40 分享</li>
    </ul>
  </div>
  <div class="icon-collect" (click)="setCollect($event,notes?.id)">
    <ul (click)="setCollect($event,notes?.id)">
      <li class="fa fa-star-o fa-2x" aria-hidden="true" (click)="setCollect($event,notes?.id)"></li>
      <li (click)="setCollect($event,notes?.id)">{{notes?.collect}} 收藏</li>
    </ul>
  </div>
</div>


<div class="container">
  <div class="col-md-7 col-md-offset-1 travel-list">
    <ul>
      <li>出发时间<span>/</span>2017-05-16</li>
      <li>出行天数<span>/</span>12天</li>
      <li>人物<span>/</span>好友/伙伴</li>
      <li>人均费用<span>/</span>4700RMB</li>
    </ul>
  </div>
</div>
<div class="container-main container" [innerHTML]="notes?.content">
  <h2>只因这里，是彼此的心之所向。</h2>
  <hr>
  <p>
    只因新西兰，是彼此的心之所向。<br>
    我离不开相机，你离不开车，所以我们需要绵延的道路，和不绝的风景。<br>
    我希望有一天可以从天而降感受飞翔因为自由，你希望有一日可以抬头仰望星空因为未知奇妙。<br>
    我喜欢针织衫，也喜欢落叶，针织衫在秋天穿，落叶在秋天掉，所以我喜欢秋天。<br>
    你喜欢羊肉牛肉，也喜欢海鲜和酒，所以你喜欢有酒有肉，不愁吃喝。<br>
    我是英语六级的金牛座旅游产品经理，旅行的规划不是问题，只是缺一些生活常识。嗯，不止一些。
  </p>
  <img src="../../assets/images/background/bg09.jpg"
       height="460" width="694"/>
  <h3>用食物，丈量我们走过的路。</h3>
  <hr>
  <p>
    只因新西兰，是彼此的心之所向。<br>
    奥克兰：难以忘怀的Depot羊排。<br>
    基督城：Pedro's House Of Lamb关门。<br>
    霍基蒂卡：银鱼Pizza已售罄。<br>
    马瑟森湖：Matheson Cafe有羊肉汉堡。<br>
    弗朗兹约瑟夫冰川：青口贝那么好吃，可惜你过敏。<br>
    瓦纳卡：Depot一别，羊排之路每况愈下。<br>
    箭镇：让人意犹未尽的奶油海鲜汤。<br>
    皇后镇：网红汉堡Fergbuger真的好大。失而复得的羊腿并没有好吃到哭。<br>
    格林诺奇：饺子和云吞面，吃的不是口味是思乡。<br>
    但尼丁：好像是人生中最好吃的蛋炒饭。<br>
    蒂卡波：一大坨生牛肉，你来决定它的命运。<br>
    普卡基：三文鱼的朝圣之旅。<br>
    基督城：好吃不过泰餐，12个鸡翅你牛逼。 <br>
  </p>
  <img src="../../assets/images/background/bg10.jpg"
       height="460" width="680"/>
  <h3>小镇的起点。自驾的开始。</h3>
  <hr>
  <p>
    只因新西兰，是彼此的心之所向。<br>
    最初的计划是能够早点出发，沿路去一趟薄饼岩。离开城堡山的时候就知道能赶在天黑前抵达霍基<br>
    蒂卡已经是车神发功了。算了，我们俩不喜欢吃薄饼，那就不去看薄饼岩了吧。。。<br>
    霍基蒂卡就是个低调的小镇，是前往弗朗兹约瑟夫冰川必须经过的地方。<br>
    Fat Pipi Pizza网红披萨店，也间接变成了霍基蒂卡的代名词。网传独特的银鱼pizza供不应求。<br>
    抱着说不定还有最后一份的心态。然后，就破灭了这个奢侈的念想，选了一份海鲜pizza，味道也<br>
    还不错。天色渐晚，草草的用完餐，从pizza<br>
    店的后门直接通向了海滩，看到了那期待的树杈拼凑的HOKITIKA。<br>
    傍晚时分的海滩，颜色真的很美，海水被染成了紫红色，和余晖的橘色拼接成了完美的渐变。风很<br>
    大，但双脚像是被镶嵌在了沙滩上，拿着相机不愿放过这变换的景色。<br>

  </p>
  <img src="../../assets/images/background/bg04.jpg"
       height="460" width="680"/>
  <h3>小镇的终点，新生活的起点。</h3>
  <hr>
  <p>
    重返小城镇，最后一餐实在不想吃西餐了，看到卖泰餐的小摊眼睛真的会放光。对于泰国的感情，就不<br>
    在此赘述了。打包带回住处，决定再最后的晚上看一遍魔戒。对于魔幻类影片，我始终提不起兴趣，正如<br>
    逼老公陪着我看文艺片他会煎熬之死一样。四个鸡翅膀一扫而光，贪婪的脚步驱使他再出门再买了十<br>
    个，整整十…个…我当时觉得回家我们不需要飞机了，因为他可能在一夜之间会长翅膀。<br>
  </p>


  <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT03.jpeg"
       height="460" width="680"/>

  <p>
    我说，如果可以，我愿意在这度过余生，远离工业和商业，原始的农业会让生活变得简单，我也不要跟<br>
    人去拼命，我也不想作威作福，我就是个适合牧羊的妇人。可你摇摇头，没有了理想中的羊腿的牵绊，这里挽留不了你…<br>
    结束了14日的旅行，重新回到忙碌规律的工作和生活。愿有生之年可以再有这般悠长的假期时光，有蓝<br>
    天白云，有阳光草地，有怡然自得。<br>
  </p>
</div>
<!--回复-->
<div class="container-comment container" *ngIf="noLogin">

  <div class="item-info" *ngFor="let comment of comments">
    <div id="commentIcon" class="photo-icon">
      <img src="http://127.0.0.1:8889/uploads/{{comment.icon}}" alt="">
    </div>
    <div class="user">
      <a href="#" class="name">{{comment?.userName}}</a>
      <a href="#" class="level">LV.{{comment?.lvName}}</a>
    </div>
    <div class="con-wrap">
      {{comment?.content | themeString:120}}
    </div>
    <div class="commentBottom">
      <time>{{(comment?.time).split('T')[0] +'/'+ ((comment?.time).split('T')[1]).split('.')[0]}}</time>
      <span class="pull-right delete" (click)="delete(comment.id)">删除</span>
    </div>
  </div>

  <div class="reply">
    <div class="tab">
      <div class="reply-tab">回复游记</div>
    </div>
    <div class="tab-con">
      <div class="photo-icon" [innerHTML]="userIcon">
      </div>
      <div class="reply-text">
        <!--<input type="text" class="comment" width="610px" height="140px">-->
        <form #commentForm="ngForm">
          <textarea [(ngModel)]="commentText" name="comment" id="textarea" cols="30" rows="10"></textarea>
        </form>
      </div>
    </div>
  </div>
  <div class="reply-submit">
    <div role="button" class="publish-reply text-center" (click)="notesComment(commentForm,notes?.id)">发表回复</div>
  </div>
</div>
<div id="to_top"></div>





