<div class="bg-album">
  <div class="calendar">
    <div class="hd">
      <span class="hd-title"></span>
      <dl>
        <dt>
          <em class="cur-month">01</em>
          <em>2017</em>
        </dt>
        <dd>
          <select class="sel-year1">
            <option value="2010">2013</option>
            <option value="2010">2014</option>
            <option value="2010">2015</option>
            <option value="2010">2016</option>
            <option value="2010">2017</option>
          </select>
        </dd>
      </dl>
    </div>
    <div class="month-tab">
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#">12</a></li>
      </ul>
    </div>
    <div class="week-bar">
      <div class="week-bg">
        <ul>
          <li class="sun">sun</li>
          <li class="mon">mon</li>
          <li class="tue">tue</li>
          <li class="wed">web</li>
          <li class="thu">thu</li>
          <li class="fri">fri</li>
          <li class="sat">sat</li>
        </ul>
      </div>
    </div>
    <div class="bd">
      <div class="viewport">
        <div class="overview">
          <ul class="month-panel">
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>2</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>3</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>4</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>5</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>6</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>7</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>8</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>9</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
            <em>1</em>
            <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
          </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>30</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>31</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="wu"></li>
            <li class="wu"></li>
            <li class="wu"></li>
            <li class="wu"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar">
    <div class="hd">
      <span class="hd-title"></span>
      <dl>
        <dt>
          <em class="cur-month">02</em>
          <em>2017</em>
        </dt>
        <dd>
          <select class="sel-year1">
            <option value="2010">2013</option>
            <option value="2010">2014</option>
            <option value="2010">2015</option>
            <option value="2010">2016</option>
            <option value="2010">2017</option>
          </select>
        </dd>
      </dl>
    </div>
    <div class="month-tab">
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#">12</a></li>
      </ul>
    </div>
    <div class="week-bar">
      <div class="week-bg">
        <ul>
          <li class="sun">sun</li>
          <li class="mon">mon</li>
          <li class="tue">tue</li>
          <li class="wed">web</li>
          <li class="thu">thu</li>
          <li class="fri">fri</li>
          <li class="sat">sat</li>
        </ul>
      </div>
    </div>
    <div class="bd">
      <div class="viewport">
        <div class="overview">
          <ul class="month-panel">
            <li class="wu"></li>
            <li class="wu"></li>
            <li class="wu"></li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>2</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>3</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>4</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>5</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>6</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>7</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>8</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>9</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>2</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>3</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>4</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>5</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>6</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>7</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>8</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>9</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>2</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>3</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>4</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>5</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>6</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>7</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>8</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>9</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>1</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
              <span>
                <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
              </span>
              <em>2</em>
              <span class="mark">
              <a href="#">成都</a>
              <a href="#">
                <img class="user" src="../../assets/user-img/user-icon.png" alt="">
              </a>
              </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>3</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="_j_hover">
          <span>
            <img src="../../assets/images/XinJiang/XJ.1.jpg" height="84" width="135"/>
          </span>
              <em>4</em>
              <span class="mark">
            <a href="#">成都</a>
            <a href="#">
            <img class="user" src="../../assets/user-img/user-icon.png" alt="">
            </a>
          </span>
            </li>
            <li class="wu"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
