.container{
  width: 1100px;
}
.top-img{
  height: 450px;
  width: 100%;
  background:url(../../assets/images/background/login-img.jpg) no-repeat;
}

.main{
  width: 100%;
  margin: 40px 0;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

._left{
  float: left;
  width: 20%;
  border-right: 1px solid #e6e6e6;
}
._left h3{
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
}
._left img{
  width: 177px;
  height: 118px;
}
._left ul{
  padding: 15px;
}
._left li{
  padding-bottom: 15px;
}
p{
  margin-top: -20px;
}
._right{
  float: right;
  width: 80%;

}
._right h3{
  padding: 30px 20px;
}
._right ul{
  padding: 15px;

}
._right li{
  float: left;
  padding-left: 5px;
  padding-bottom: 15px;
}
._right img{
  width: 201px;
  height: 134px;
}
