<div class="top-img">
  <app-loop-img></app-loop-img>
</div>
<div class="container">
  <div class="main">
    <div class="_left">
      <h3>最新图片</h3>
      <ul>
        <li>
          <img src="../../assets/images/HongKong/HK01.jpg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HongKong/HK02.jpg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HongKong/HK03.jpg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HongKong/HK04.jpg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HongKong/HK05.jpg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HongKong/HK06.jpg" alt="">
          <p>用户名</p>
        </li>
      </ul>
    </div>
    <div class="_right">
      <h3>图片</h3>
      <ul>
        <li>
          <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT01.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT02.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
        <img src="../../assets/images/HeiLongJiang/2.ZhongYiangDaJie/ZYDJ03.jpeg" alt="">
        <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT03.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT04.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT05.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT06.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/1.ShengSuoFeiYa_DaJiaoTang/DJT07.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/2.ZhongYiangDaJie/ZYDJ01.jpeg" alt="">
          <p>用户名</p>
        </li>
        <li>
          <img src="../../assets/images/HeiLongJiang/2.ZhongYiangDaJie/ZYDJ02.jpeg" alt="">
          <p>用户名</p>
        </li>
      </ul>
    </div>
  </div>
</div>
