<div class="top-img">
  <app-loop-img></app-loop-img>
  <app-search></app-search>
</div>


<h1 class="h11">今日推荐</h1>

<div class="container">

  <ul class="_ul">
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item col-sm-6 col-md-3 col-lg-3">
        <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
        <div class="info">
          <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
          <div class="bottom">
            <span class="fl">用户名</span>
          </div>
        </div>
      </div>
    </li>

  </ul>

</div>

<h1 class="h11">热门游记</h1>

<div class="container">
  <ul>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
    <li>
      <div class="travels col-sm-6 col-md-3 col-lg-3">
        <div><img class="img-top" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
        <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
          <div>
            <span><a href="#">用户名</a></span>
          </div>
          <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
        </div>
      </div>
    </li>
  </ul>
</div>
