<div class="top-img">
  <app-loop-img></app-loop-img>
  <app-search></app-search>
</div>

<div class="container recommend">
  <h1 class="h11">今日推荐</h1>
  <ul class="ul">
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_DuKuGongLu.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_YiLiXunYiCao01.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_HuYangLin.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_BaiShaHu.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_BeiJiang.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_TianChi01.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_ShuiMoGouGongYuan1.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_TianChi.jpeg" alt=""></div>
          <div class="info">
            <p class="p1">【对世界上瘾】这可能是大阪环球影城15周年庆典最新最</p>
            <div class="bottom">
              <span class="fl">地名</span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

<div class="container travels">
  <h1 class="h11">热门游记</h1>
  <ul>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XinJiang/XJ_DanXiaDiMan.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/SiChuan/GuZheng01.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/SiChuan/GuZheng03.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/SiChuan/GuZheng05.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/SiChuan/GuZheng06.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XiZang/1.BuDaLaGong/BDLG01.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XiZang/1.BuDaLaGong/BDLG02.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="item">
          <div><img class="img" src="../../assets/images/XiZang/1.BuDaLaGong/BDLG03.jpeg" alt=""></div>
          <div class="info">
      <span class="s1">
        <img class="lazy" src="../../assets/user-img/user-icon.png" alt="">
      </span>
            <div>
              <span><a href="#">用户名</a></span>
            </div>
            <a href="#"><p class="p1">全文完【我们把欧洲装进了魔法水晶球】 德瑞法意摩奥</p></a>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
