<div id="head"></div>

<div id="site">目的地>北京>景点</div>
<div id="introduce_bg">
  <div class="introduce_inner">
    <p class="introduce_inner_word">
      <span class="introduce_inner_item">景点概况</span><br/>
      北京是一座迷人的城市，既有古典风韵，又具时尚气息。小胡同、老茶馆、新潮酒吧街、繁华商业区，
      无限的摩登元素与老北京地道的京味儿相互交融，构筑了北京城博大精深的文化底蕴和正统而不失清雅的生活方式。来北京必去的景
      点非天安门、故宫、长城莫属，除此以外，可根据各人的兴趣爱好进行多样化的选择。不论是情侣出行还是亲子旅游，向往皇家古迹
      还是时尚街区，都能在北京找到最适合的去处。
    </p>
  </div>
</div>

<ul class="inner">
  <div class="inner_head"><h3>必游景点TOP5</h3></div>
  <li class="inner_out" *ngFor="let item of data | searchScenic:searText | paginate: { itemsPerPage: 1, currentPage: p };let index = index" (click)="details(item.id)">
    <div class="inner_left">
      <h2><a>{{index + 1}}.{{item?.title}}</a></h2><br/>
      <p class="inner_left_word">{{item?.info}}</p>
    </div>
    <div class="inner_right">
      <a>
        <a><img src="http://owpv96eru.bkt.clouddn.com{{item?.url[0]}}" style="width: 380px; height: 270px"></a>
        <a><img src="http://owpv96eru.bkt.clouddn.com{{item?.url[1]}}" style="width: 185px; height: 130px"></a>
        <a><img src="http://owpv96eru.bkt.clouddn.com{{item?.url[2]}}" style="width: 185px; height: 130px"></a>
        <!--<a><img src="../../assets/images/temporary/small/gg1.jpeg"></a>-->
        <!--<a><img src="../../assets/images/temporary/small/gg2.jpeg"></a>-->
      </a>
    </div>
  </li>
  <!--  <hr/>
    <div class="inner_out">
      <div class="inner_left">
        <h2><a href="#"> 2.颐和园</a></h2><br/>
        <p class="inner_left_word">保存得最完整的皇家行宫御苑，被誉为“皇家园林博物馆”</p>
      </div>
      <div class="inner_right">
        <a href="#">
          <a href="#"><img src="../../assets/images/temporary/small/yhy0.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/yhy1.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/yhy2.jpeg"></a>
        </a>
      </div>
    </div>
    <hr/>
    <div class="inner_out">
      <div class="inner_left">
        <h2><a href="#">3.天安门广场</a></h2><br/>
        <p class="inner_left_word">北京旅游的代表性景点之一，可以在这观看升降旗，广场上还有人民英雄纪念碑、毛主席纪念堂</p>
      </div>
      <div class="inner_right">
        <a href="#">
          <a href="#"><img src="../../assets/images/temporary/small/tam0.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/tam1.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/tam2.jpeg"></a>
        </a>
      </div>
    </div>
    <hr/>
    <div class="inner_out">
      <div class="inner_left">
        <h2><a href="#">4.天坛</a></h2><br/>
        <p class="inner_left_word">明清两代皇帝祭祀天地之神和祈祷五谷丰收的地方</p>
      </div>
      <div class="inner_right">
        <a href="#">
          <a href="#"><img src="../../assets/images/temporary/small/tt0.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/tt1.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/tt2.jpeg"></a>
        </a>
      </div>
    </div>
    <hr/>
    <div class="inner_out">
      <div class="inner_left">
        <h2><a href="#">5.圆明园</a></h2><br/>
        <p class="inner_left_word">清代皇家宫苑，曾经的万园之园，如今残垣断壁，诉说着过去难忘的历史”</p>
      </div>
      <div class="inner_right">
        <a href="#">
          <a href="#"><img src="../../assets/images/temporary/small/ymy0.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/ymy1.jpeg"></a>
          <a href="#"><img src="../../assets/images/temporary/small/ymy2.jpeg"></a>
        </a>
      </div>
    </div>-->
  <!--<ul>-->
    <!--<li *ngFor="let item of info | paginate: { itemsPerPage: 1, currentPage: p }">{{item.name}}</li>-->
  <!--</ul>-->
  <div style="margin: 0 auto; width: 350px">
    <pagination-controls style="width: 400px" (pageChange)="p = $event"></pagination-controls>
  </div>

</ul>


<div class="hot_bg">
  <div class="hot_inner">
    <h3 class="hot_inner_item">热门景点</h3>
    <div class="hot_img">
      <div><a href="#"><img src="../../assets/images/temporary/hot/bhgy.jpeg"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/bdlcc.jpeg"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/sch.jpeg"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/hhjbj.jpeg"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/nlgx.jpeg"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/nc.jpeg"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/gwf.jpeg"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/798art.jpeg"></a></div>
      <div><a href="#"><img class="hot_img_9" src="../../assets/images/temporary/hot/bd.png"></a></div>
      <div><a href="#"><img src="../../assets/images/temporary/hot/gjbwg.jpeg"></a></div>
    </div>
  </div>
</div>

