<div id="head"></div>

<div id="site">目的地>北京>景点</div>
<div id="introduce">
  <h2>景点详情</h2>
  <p class="introduce_inner">北京是一座迷人的城市，既有古典风韵，又具时尚气息。小胡同、老茶馆、新潮酒吧街、繁华商业区，
    无限的摩登元素与老北京地道的京味儿相互交融，构筑了北京城博大精深的文化底蕴和正统而不失清雅的生活方式。来北京必去的景
    点非天安门、故宫、长城莫属，除此以外，可根据各人的兴趣爱好进行多样化的选择。不论是情侣出行还是亲子旅游，向往皇家古迹
    还是时尚街区，都能在北京找到最适合的去处。
  </p>
</div>

<div id="inner">
  <h2>必游景点TOP5</h2>

  <div id="inner_1">
    <div id="inner_1.1">
      <h2>1.故宫</h2>
      <p class="inner_1.1">中国乃至世界上保存最完整，规模最大的木质结构古建筑群，也是藏品超过百万件的世界级博物馆</p>
    </div>
    <div id="inner_1.2">
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
    </div>
  </div>

  <div id="inner_2">
    <div></div>
    <h2>1.颐和园</h2>
    <p class="inner_2.1">中国乃至世界上保存最完整，规模最大的木质结构古建筑群，也是藏品超过百万件的世界级博物馆</p>
    <div id="inner_2.2">
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
    </div>
  </div>

  <div id="inner_3">
    <h2>1.颐和园</h2>
    <p class="inner_3.1">中国乃至世界上保存最完整，规模最大的木质结构古建筑群，也是藏品超过百万件的世界级博物馆</p>
    <div id="inner_3.2">
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
    </div>
  </div>

  <div id="inner_4">
    <h2>1.颐和园</h2>
    <p class="inner_4.1">中国乃至世界上保存最完整，规模最大的木质结构古建筑群，也是藏品超过百万件的世界级博物馆</p>
    <div id="inner_4.2">
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
    </div>
  </div>

  <div id="inner_5">
    <h2>1.颐和园</h2>
    <p class="inner_5.1">中国乃至世界上保存最完整，规模最大的木质结构古建筑群，也是藏品超过百万件的世界级博物馆</p>
    <div id="inner_5.2">
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
      <a href="#"><img src="#"></a>
    </div>
  </div>

</div>
