#head{
  width: auto;
  height: 50px;
  border: 1px solid chocolate;
}
#site{
  width: 80%;
  height: 60px;
  margin: 5px auto;
  border: 1px solid hotpink;
}
#introduce{
  width: 80%;
  height: 150px;
  border: 1px solid salmon;
  margin: 0 auto;
}
#inner{
  width: 80%;
  height: 1400px;
  border: 1px solid red;
  margin: 10px auto;
}

