<div id="container">
  <h3>我的想去</h3>
  <div class="content">
    <div class="col-md-5 col-lg-5">
      <h3>北京</h3>
      <span>更新时间 <time>2017-8-8</time></span>
    </div>
    <div class="col-md-7 col-lg-7">
      <img src="" alt="" width="250px"height="150px">
    </div>
  </div>
  <div class="content">
    <div class="col-md-5 col-lg-5">
      <h3>北京</h3>
      <span>更新时间 <time>2017-8-8</time></span>
    </div>
    <div class="col-md-7 col-lg-7">
      <img src="" alt="" width="250px"height="150px">
    </div>
  </div>
  <div class="content">
    <div class="col-md-5 col-lg-5">
      <h3>北京</h3>
      <span>更新时间 <time>2017-8-8</time></span>
    </div>
    <div class="col-md-7 col-lg-7">
      <img src="" alt="" width="250px"height="150px">
    </div>
  </div>

</div>
