<div id="notes" class="text-center">
  <h4 class="pull-left">我的收藏</h4>

  <h5 class="pull-right">{{newNotes?.length}} 篇游记</h5>
</div>
<div id="container">
  <div class="content" *ngFor="let notes of newNotes| paginate: { itemsPerPage: 5, currentPage: p }">
    <div class="col-md-5 col-lg-5 notes-left">
      <div class="row notes-image" [innerHTML]="notes?.coverimg[0]">
      </div>
    </div>
    <div class="col-md-7 col-lg-7 notes-right">
      <div class="top">
        <h4>{{notes?.notes.title}}</h4>
        <time class="pull-right">{{notes?.notes.pubtime.split('T')[0]}}</time>
      </div>
      <div class="middle" [innerHTML]="(notes?.notes.content).substring(0,185)+'...'">

      </div>
      <div class="bottom">
        <div class="pull-left">
          <span style="color: #ff9d00">作者: {{notes?.notes.userName}}</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-thumbs-up fa-lg"></span><span>{{notes?.notes.like}}</span>
        </div>
        <div class="pull-right">
          <span class="fa fa-commenting-o fa-lg"></span><span>{{notes?.notes.comment}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--分页-->
<div style="margin: 0 auto; width: 350px; margin-top: 25px">
  <pagination-controls style="width: 400px" (pageChange)="p = $event"></pagination-controls>
</div>
