/* You can add global styles to this file, and also import other style files */
body{
  background: white;
  background:#fff;
}
body,h1,h2,h3,h4,h5,h6,ul,li{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a:link,a:hover,a:active,a:visited{
  text-decoration: none;
}
#userImg img,.photo-img>img{
  width: 190px;
  height: 180px;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 15px 8px;
}
.z_file{
  margin-top: 15px;
}
#commentIcon>img{
  width: 48px;
  height: 48px;
}
#strategy-content h1{
  font-size: 18px;
  line-height: 26px;
  padding: 5px;
  color: #df9a00;
}
#strategy-content hr{
  margin: 25px auto 25px 0px;
  /*margin-top: 25px;*/
  /*margin-bottom: 25px;*/
  border: 3px solid #ff9d00;
  border-radius: 5px;
  width: 688px;
}
/*#notes-content>h1,h2,h3,h5,h6{*/
  /*margin-top: 15px;*/
  /*margin-bottom: 15px;*/
  /*border: none;*/
/*}*/
#notes-content h3{
  color: #ff9d00;
}
#notes-content p{
  font-size: 14px;
  line-height: 1.5em;
}
#notes-content img{
  margin-top: 35px;
  margin-bottom: 35px;
}
#notes-content hr{
  border: none;
}
#message-board h4{
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}


/*等级进度条*/
.mature-progress .mature-progress-bottom .mature-progress-box .progress-box i span {
  position: absolute;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #fff;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  font-size: 12px;
  font-style: normal;
  border: #cccccc solid 1px;
  right: -80px;
  top: -50px;
  padding: 0 10px;
  width: 145px;
  text-align: center;
}

.mature-progress .mature-progress-bottom .mature-progress-box .progress-box i span:before {
  content: '';
  display: block;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}

.mature-progress .mature-progress-bottom .mature-progress-box .progress-box i span:after {
  content: '';
  display: block;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -19px;
  left: 50%;
  margin-left: -10px;
}

#album img{
  width: 340px;
  height: 220px;
}

/*个人中心游记coverimg*/
.notes-image img{
  max-width: 310px !important;
  height: 250px !important;
  border-radius: 4px 0 0 4px !important;
}
/*游记展示页面 coverimg*/
#travel-notes img{
  max-width: 240px !important;
  height: 160px !important;
}
/*游记展示页面相关阅读 coverimg*/
#hotNotes-images img{
  width: 80px;
  height: 80px;
}
/*首页推荐游记 coverimg*/
#indexNotes img{
  width: 275px;
  height: 185px;
  vertical-align: top;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: initial;
  transition-delay: initial;
}
#indexNotes img:hover{
  width: 288px;
  height: 194px;
}
