<div id="search">
  <div id="head_search">
    <div class="search-container">
      <input class="_text pull-left" id="travel_search" type="text" placeholder="输入想去的地方/攻略/游记">
      <a routerLink="../scenic_search">
        <input class="text_btn pull-left" type="button">
        <span class="span"></span>
      </a>

    </div>
    <div id="search_key">
      <p>热门城市</p>
      <p>
        <span><a href="#">西藏</a></span>
        <span><a href="#">重庆</a></span>
        <span><a href="#">四川</a></span>
        <span><a href="#">海南</a></span>
        <span><a href="#">台湾</a></span>
        <span><a href="#">上海</a></span>
        <span><a href="#">青海</a></span>
        <span><a href="#">湖北</a></span>
        <span><a href="#">云南</a></span>
        <span><a href="#">江西</a></span>
        <span><a href="#">浙江</a></span>
        <span><a href="#">黑龙江</a></span>

      </p>
    </div>
  </div>
</div>
