<div id="container">
  <div class="setting-container">
    <h3>修改个人资料</h3>
    <div class="container col-md-12 col-lg-12">
      <form class="form-horizontal" id="user_form" #userForm="ngForm">
        <!--用户名-->
        <div class="form-group">
          <label for="user_name" class="col-sm-2">用户昵称:</label>
          <div class="col-sm-10">
            <div class="row">
              <input type="text" [class.nameBorder]="nameBorder" class="text-left" id="user_name" name="userName"
                     [value]="userName" readonly="{{readonly}}" [(ngModel)]="userName"><a class="checkName" (click)="check_name()">修改昵称</a>
            </div>
          </div>
        </div>
        <!--性别-->
        <div class="form-group">
          <label class="col-sm-2">性别:</label>
          <div class="col-sm-10">
            <div id="userSex" class="row">
              <label for="user_sex0">男 &nbsp;&nbsp;</label><input [(ngModel)]="sex" type="radio" id="user_sex0" name="userSex" value="0" checked="{{men}}">
              <label for="user_sex1">女 &nbsp;&nbsp;</label><input [(ngModel)]="sex" type="radio" id="user_sex1" name="userSex" value="1" checked="{{wumen}}">
            </div>
          </div>
        </div>
        <!--生日-->
        <div class="form-group">
          <label class="col-sm-2">生日:</label>
          <div class="col-sm-10">
            <div class="row">
              <div id="birthday" class="row">
                <!--年输入框-->
                <div class="container">
                  <input #years [(ngModel)]="year" id="years" name="years" type="text" readonly="readonly" placeholder="年"  (click)='show_year_toggle()'>
                  <div id="year-list" class="option" [class.block]="year_block" >
                    <ul class="provinceList">
                      <li *ngFor="let item of _years" (click)="show_year($event)">
                        {{item}}
                      </li>
                    </ul>
                  </div>
                </div>
                <!--月输入框-->
                <div class="container">
                  <input #month [(ngModel)]="_month" id="month" name="month" type="text" readonly="readonly" placeholder="月" (click)='show_month_toggle()'>
                  <div class="option" [class.block]="month_block">
                    <ul id="month-ist" class="MonthList">
                      <li *ngFor="let item of _months" (click)="show_month($event)">
                        {{item}}
                      </li>
                    </ul>
                  </div >
                </div>
                <!--日输入框-->
                <div class="container">
                  <input #day [(ngModel)]="_dy" id="day" name="day" type="text" readonly="readonly" placeholder="日" (click)="show_day_toggle()">
                  <div class="option" [class.block]="day_block">
                    <ul id="day-ist" class="DayList">
                      <li *ngFor="let item of _day" (click)="show_day($event)">
                        {{item}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--居住地-->
        <div class="form-group">
          <label class="col-sm-2">居住地址:</label>
          <div class="col-sm-10">
            <div class="row">
              <div id="address" class="row">
                <!--省份输入框-->
                <div class="container">
                  <input [(ngModel)]="_province" id="province" name="province" type="text" readonly="readonly" placeholder="省份" isHide="isHide" (click)="show_province_toggle()">
                  <div id="list" class="option" [class.block]="province_block">
                    <ul class="provinceList">
                      <li *ngFor="let item of _provinces" (click)="show_province($event)">
                        {{item}}
                      </li>
                    </ul>
                  </div>
                </div>
                <!--市输入框-->
                <div class="container">
                  <input [(ngModel)]="_city" id="shi" name="city" type="text" readonly="readonly" placeholder="市(区)" (click)="show_city_toggle()">
                  <div class="option" [class.block]="city_block">
                    <ul id="shiList" class="shiList">
                      <li *ngFor="let item of _citys;let index = index" (click)="show_city($event)">
                        {{item}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--个性签-->
        <div class="form-group">
          <label for="Signature" class="col-sm-2">个性签名:</label>
          <div class="col-sm-10">
            <div class="row">
              <textarea [(ngModel)]="Signature" type="text" class="text-left" id="Signature" name="Signature" placeholder="最多70个汉字..."></textarea>
              <!--<input type="text" [(ngModel)]="_telephone" name="telephone" value="123" >-->
            </div>
          </div>
        </div>
        <!--按钮-->
        <div class="form-group" id="btn">
          <input type="button" value="保存" (click)="_submit(userForm)">
          <input type="reset" value="取消">
        </div>
      </form>
    </div>
  </div>
</div>
