*{
  margin: 0;
}
.top{
  height: 450px;
  width: 100%;
}
.pic_lgh{
  width: 100%;
  height: 450px;
}

#middle_head{
  width:1000px ;
  height: 60px;
  margin: 10px auto;
  border: 1px solid deeppink;
}
#middle_head_name{
  width: 120px;
  height: 50px;
  float: left;
  border: 1px solid red;
}
#middle_head_list{
  width: 620px;
  height: 40px;
  float: right;
  border: 1px solid #3b1ee0;

}
#middle_head_list li{
  width: 120px;
  list-style: none;
  text-align: center;
  float: right;
  border: 1px solid firebrick;
}
#middle_head_list a{
  text-decoration: none;
  font-size: 20px;
}


#middle_pic{
  width: 1040px;
  height: 615px;
  border: 1px solid blue;
  margin:10px auto;
}

#middle_pic_left{
  width: 635px;
  height: 615px;
  border: 1px solid blue;
  float: left;
}
#middle_pic img{
  padding: 5px 5px;
  float: left;
}
.pic_cq{
  width: 430px;
  height: 190px;
}
.pic_hn{
  width: 200px;
  height: 190px;
}
.pic_hn1{
  width: 200px;
  height: 420px;
}
.pic_xj4{
  width: 430px;
  height: 210px;
}
.pic_zj{
  width: 215px;
  height: 210px;
}
.pic_hlj2{
  width: 215px;
  height: 210px;
}

.pic_hq{
  width: 190px;
  height: 400px;
}
.pic_xj1{
  width: 210px;
  height: 200px;
}
.pic_hlj{
  width: 210px;
  height: 200px;}

.pic_xz{
  width: 400px;
  height: 210px;
}

#down{
  width: 100%;
  height: 2000px;
  border: 1px solid #e0060c;
}
#down_head{
  width: 80%;
  height: 60px;
  margin: 5px auto;
  border: 1px solid indigo;
}
#down_inner{
  width: 80%;
  height: 1000px;
  margin: 5px auto;
  border: 1px solid darkgreen;
}
#down li{
  list-style: none;
  float: right;
  width: 100px;
  line-height: 10px;
  font-size: 20px;


}
#down a{
  text-decoration: none;

}
