*{
  margin: 0;
}
#head{
  width: 100%;
  height: 500px;
  border: 2px solid red;
  background: url("../../assets/images/linshide/lgh.jpg") no-repeat;
  background-size: 100% 500px;
}
.pic_lgh{
  width: 100%;
  height: 450px;
}
#head_search{
  width: 400px;
  height: 60px;
  border:2px solid #ff92c4;
  position: absolute;
  left: 600px;
  top: 260px;
}

#middle_head{
  width:1340px ;
  height: 60px;
  border: 1px solid deeppink;
  margin: 10px auto;
}
#middle_head_name{
  border: 1px solid red;
  width: 160px;
  height: 70px;
  float: left;
}
.middle_head_name{
  font-size: 28px;
  color: #2c002c;
}
#middle_head_list{
  width: 620px;
  height: 50px;
  border: 1px solid #3b1ee0;
  float: right;
}
#middle_head_list li{
  list-style: none;
  width: 120px;
  text-align: center;
  float: left;
  border: 1px solid firebrick;
}
#middle_head_list a{
  text-decoration: none;
  font-size: 25px;
  font-family: "黑体";

}


#middle_pic{
  width: 1340px;
  height: 740px;
  border: 1px solid blue;
  margin:10px auto;
}

#middle_pic_left{
  width: 763px;
  height: 740px;
  border: 1px solid blue;
  float: left;
}
#middle_pic img{
  padding: 5px 5px;
  float: left;
}
.pic_hn{
  width: 260px;
  height: 250px;
}
.pic_cq{
  width: 500px;
  height: 250px;
}
.pic_hn1{
  width: 280px;
  height: 480px;
}
.pic_xj4{
  width: 480px;
  height: 240px;
}
.pic_zj{
  width: 240px;
  height: 240px;
}
.pic_hlj2{
  width: 240px;
  height: 240px;
}

.pic_hq{
  width: 260px;
  height: 490px;
}
.pic_xj1{
  width: 290px;
  height: 245px;
}
.pic_hlj{
  width: 290px;
  height: 245px;
}
.pic_xz{
  width: 550px;
  height: 240px;
}

#down{
  width: 100%;
  height: 2000px;
  border: 1px solid #e0060c;
}
#down_head{
  width: 80%;
  height: 60px;
  margin: 5px auto;
  border: 1px solid indigo;
}
#down_inner{
  width: 80%;
  height: 1000px;
  margin: 5px auto;
  border: 1px solid darkgreen;
}
#down li{
  list-style: none;
  float: right;
  width: 100px;
  line-height: 10px;
  font-size: 20px;


}
#down a{
  text-decoration: none;

}
