<div id="head">
  <div id="head_search">
    <input type="text" value="搜索景点/攻略">
    <a routerLink="../scenic_search"><input type="button" value="搜索"></a>
  </div>
</div>




<div id="middle_head">
  <div id="middle_head_name">
    <span class="middle_head_name">探索精彩</span>
  </div>
  <div id="middle_head_list">
    <ul>
      <li><a href="#">都市</a></li>
      <li><a href="#">塞外</a></li>
      <li><a href="#">古村小镇</a></li>
      <li><a href="#">名山</a></li>
      <li><a href="#">古迹</a></li>
    </ul>
  </div>
</div>


<div id="middle_pic">
  <div id="middle_pic_left">
    <img class="pic_cq" src="../../assets/images/linshide/cq.jpg">
    <img class="pic_hn" src="../../assets/images/linshide/hn.jpg">
    <img class="pic_hn1" src="../../assets/images/linshide/hn1_fb.jpg">
    <img class="pic_xj4" src="../../assets/images/linshide/xj4.jpg">
    <img class="pic_zj" src="../../assets/images/linshide/zj.jpg">
    <img class="pic_hlj2" src="../../assets/images/linshide/hlj2.jpg">
  </div>
  <img class="pic_hq" src="../../assets/images/linshide/hq.jpg">
  <img class="pic_xj1" src="../../assets/images/linshide/xj1.jpg">
  <img class="pic_hlj" src="../../assets/images/linshide/hlj.jpg">
  <img class="pic_xz" src="../../assets/images/linshide/xz_fb.jpg">
</div>


<div id="down">
  <div id="down_head">
    <h2 class="down_head_name">地区列表</h2>
    <ul>
      <li><a routerLink=". /east">华东地区</a></li>
      <li><a href="#">华北地区</a></li>
      <li><a href="#">华南地区</a></li>
      <li><a href="#">华中地区</a></li>
      <li><a href="#">东北地区</a></li>
      <li><a href="#">西北地区</a></li>
      <li><a href="#">西南地区</a></li>
    </ul>
  </div>
  <div id="down_inner">
    <div id="down_inner_east"></div>
    <div id="down_inner_north"></div>
    <div id="down_inner_south"></div>
    <div id="down_inner_middle"></div>
    <div id="down_inner_westsouth"></div>
    <div id="down_inner_westnorth"></div>
    <div id="down_inner_eastnorth"></div>
  </div>

</div>


