/*背景图片*/
.res-bgimg{
  height: 900px;
  width: 100%;
  background:url(../../assets/images/background/res-img.jpg) no-repeat;
}
/*注册框位置*/
.container{
  width: 400px;
}
.res-position{
  padding-top: 151px;
}
/*注册框样式*/
.login-css{
  padding: 30px 30px;
  background-color: white;
  border-radius: 5px;

}
.prompt{
  padding: 0;
  margin-left: 20px;
  margin-bottom: 0;
  color: red;
  box-shadow: none;

}
/*按钮*/
#sign_btn{
  font-size: 18px;
  color: white;
  background-color: #FFA800;

}

.p1{
  padding-top: 10px;
  float: right;
}
