/*背景图片*/
.main{
  min-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.res-bgimg{
  /*width: 100%;*/
  background:url(../../assets/images/background/res-img.jpg) no-repeat;
}
/*注册框位置*/
.container{
  width: 400px;
}
.res-position{
  padding-top: 51px;
}
/*注册框样式*/
.login-css{
  padding: 30px 30px;
  background-color: white;
  border-radius: 5px;

}
.prompt{
  padding: 0;
  margin-left: 20px;
  margin-bottom: 0;
  color: red;
  box-shadow: none;
  size: 16px;
}
.prompts{
  padding: 0;
  margin-left: 4.5px;
  margin-bottom: 0;
  color: red;
  box-shadow: none;
  size: 16px;
  font-weight: normal;
}
#Txtidcode{
  height: 34px;
  width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#Txtidcode:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
/*按钮*/
#btns{
  margin-top: 20px;
  font-size: 18px;
  color: white;
  background-color: #FFA800;

}

.p1{
  float: right;
}

input:focus{
  outline: none;
  border: 1px solid #ff9d00 !important;
  box-shadow: 0px 0px 8px -1px #ff9d00;
}
