<div class="main">
<div class="res-bgimg">
  <div class="container res-position">
    <div class="login-frame col-lg-12 col-md-12 col-sm-12 col-xs-12 login-css">
      <form class="form-horizontal" id="register_form" #registerForm="ngForm">
        <div class="form-group">
          <div class="alert prompt">
            <small *ngIf="!istelempty">
              请输入您的手机号码
            </small>
            <small *ngIf="!istelformat">
              手机号码格式错误
            </small>
            {{register_res}}
          </div>

          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <input type="text" tabindex="1" (keyup.enter)="ontel(tel.value)"
                   (blur)="ontel(tel.value)" class="form-control" #tel="ngModel" pattern="^1[34578]\d{9}$" [(ngModel)]="_telephone"
                   id="telephone" name="telephone" placeholder="您的手机号" required>
          </div>
        </div>

        <div class="form-group">
          <div class="alert prompt">
            <small *ngIf="!isname">
              请输入昵称
            </small>
          </div>
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <input type="text" autofocus tabindex="2" (keyup.enter)="onname(name.value)"
                   (blur)="onname(name.value)" class="form-control" #name="ngModel" [(ngModel)]="_name" id="names" name="userName"
                   placeholder="您的昵称" required>
          </div>
        </div>

        <div class="form-group">
          <div class="alert prompt">
          <small *ngIf="!ispassempty">
            请输入密码
          </small>
          <small *ngIf="!ispassformat">
            密码不能小于6个字符
          </small>
          </div>
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <input type="password" tabindex="3" (keyup.enter)="onpass(pass.value)"
                   (blur)="onpass(pass.value)" class="form-control" name="password" [ngModel]="user.pass"
                   required #pass="ngModel" placeholder="您的密码">
          </div>
        </div>

        <div class="form-group">
          <div class="alert prompt">
            <small *ngIf="!isrpassempty">
              请输入密码
            </small>
            <small *ngIf="!isrpassformat">
              密码不一致
            </small>
          </div>
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <input type="password" tabindex="4" (keyup.enter)="onrpass(rpass.value)"
                   (blur)="onrpass(rpass.value)" class="form-control" name="rpass" [ngModel]="user.rpass"
                   required #rpass="ngModel" placeholder="确认密码">
          </div>
        </div>
        <div>
          <div class="alert prompts">
            <small *ngIf="!iscodeempty">
              请输入验证码
            </small>
            <small *ngIf="!iscodeformat">
              验证码错误
            </small>
          </div>
          <input tabindex="5" type="text" id="Txtidcode" #textcode (keyup.enter)="valid(textcode.value,registerForm)"
                 (blur)="valid(textcode.value)" class=" txtVerification" placeholder="请输入验证码">
            <span id="idcode"></span>
        </div>
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="btns" class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12"
                    (click)="addUser(registerForm)"
                    >完成注册
            </button>
          </div>
        </div>
      </form>
      <div>
        <p class=" p1 ">已经注册？<a routerLink="../login">马上登录</a></p>
      </div>
    </div>
  </div>
</div>
</div>
